.all-paint-comp {
  
}

.card-image {
  height: 300px;
  width: 100%
}
.card-side side-front {
  height: 350px;
  padding: 10px;
  margin: 10px;
}

.card-side side-back {
  height: 350px;
  padding: 10px;
  margin: 10px;
}

.jumbotron text-center{
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.container {
  margin-top:30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8ba5da;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.fakeimg {
  height: 200px;
  background: rgb(252, 152, 152);
}



.one-paint-photo {
  font-size: 10px;
}

/* react flip */

/* photo grid */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}