.grid {
  /* grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px; */
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  height: 350px;
}

.jumbotron text-center {
  height: 20px;
  top: 5px;
}

.grid-item{
  height:350px;
  margin-top: 15px;
  vertical-align: middle;
}

.all-paint-comp {
  background-color: #61dafb;
}

.all-room-comp {
  margin: 50px;
}

header {
  height: 20px;
  top: 5px;
}

.jumbotron text-center{
  margin-bottom: 0;
  
}

.App {
  text-align: center;
}

.container {
  margin-top:30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(0, 162, 232);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.one-room-comp {
  margin: 20px;
 }

.room-link {
  margin:5px;
}

.one-paint-photo {
  font-size: 10px;
  padding: 5px;
}

#buttons {
  margin:5px;
  padding: 5px;
}
/* react flip */

/* photo grid */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}



